html
  head
    title= Setup page
    // bower:css
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    // endbower

    meta(name="viewport", content="width=device-width, initial-scale=1")
    block pagecss
  body
    // bower:js
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.js')
    // endbower

  block pagejavascript